[**Documentation**](../README.md)

***

[Documentation](../README.md) / Test\_results

# Class: Test\_results

Defined in: main.ts:251814

## Implements

- [`ITest_results`](../interfaces/ITest_results.md)

## Indexable

\[`key`: `string`\]: `any`

## Constructors

### Constructor

> **new Test\_results**(`data?`): `Test_results`

Defined in: main.ts:251818

#### Parameters

##### data?

[`ITest_results`](../interfaces/ITest_results.md)

#### Returns

`Test_results`

## Methods

### init()

> **init**(`_data?`): `void`

Defined in: main.ts:251827

#### Parameters

##### \_data?

`any`

#### Returns

`void`

***

### toJSON()

> **toJSON**(`data?`): `any`

Defined in: main.ts:251843

#### Parameters

##### data?

`any`

#### Returns

`any`

***

### fromJS()

> `static` **fromJS**(`data`): `Test_results`

Defined in: main.ts:251836

#### Parameters

##### data

`any`

#### Returns

`Test_results`
